body {
  font-size: 0.8em;
  font-family: Consolas;
  color: gray;
}

.plugin {
  background-color: #FBF8F5;
}

.plugin a {
  color: #2395F6;
}

.plugin a:visited {
  color: #2395F6;
}

.plugin .title {
  font-size: 1.2em;
  color: black;
}

.plugin .description {

}

.plugin .author {

}

.plugin .repository {

}