---
layout: page
---

<p>
  By <a href="https://github.com/{{ page.author }}" title="{{ page.author }} on GitHub">{{ page.author }}</a>
</p>

<figure>
  <img class="theme-thumbnail" src="{{ site.baseurl }}/assets/img/themes/screenshots/{{page.title}}.jpg" alt="" />
</figure>

{{ page.description | markdownify }}

{% include theme-{{page.type}}-installation.html %}

{% if site.data.github_pages.themes contains page.title %}
  <div class="note info">
    <strong>Supported on GitHub Pages</strong>
  </div>
{% endif %}

<p>
  <a href="{{ page.repository }}" title="{{ page.title }} on GitHub">Source code</a>
</p>
